.App {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.pagenation-btn {
  display: flex;
  justify-content: center;
}
.pagenation-btn button {
  padding: 3px;
  margin: 10px;
  border-radius: 10px;
}
.pagenation-btn button:hover {
  background-color: gray;
  color: white;
}
/* PEOPLE */

.single-person-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 100px;
  padding: 10px;
  width: 250px;
  background-color: aliceblue;
  box-shadow: 5px 5px 25px 5px rgb(144, 196, 22);
  height: fit-content;
}
.person-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.person-container h2,
h4 {
  text-decoration: underline;
  margin: 5px;
}
.person-container p {
  margin: 3px;
}
.person-container small {
  font-size: 12px;
}
.person-container h5 {
  font-size: 15px;
  margin: 0px;
}
.person-container ul {
  font-size: 10px;
  padding: 0;
  margin: 0px;
}
/* PLANETS */

.single-planet-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 100px;
  padding: 10px;
  width: 250px;
  background-color: aliceblue;
  box-shadow: 5px 5px 25px 5px rgb(144, 196, 22);
  height: fit-content;
}
.planet-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.search-info,
label {
  border-radius: 5px;
  text-decoration: underline;
  border: 0px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar,
.search-classification {
  padding: 4px;
  margin: 4px;
  border-radius: 10px;
}
.search-button {
  border-radius: 10px;
}
.search-button:hover {
  background-color: gray;
  color: white;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}
